body {
  font-family: 'Bowlby One', sans-serif;
  color: #156c6f;
  font-size: 1cm;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-family: Inconsolata, monospace;
  font-size: 0.7em;
}

.product_qr {
  width: 3em;
  height: 3em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.product_id {
  padding: 0.2em 0.4em;
  background-color: #a7ffbf;
  font-size: 1.7em;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.product_properties {
  padding-left: 0.8em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Inconsolata, monospace;
  font-size: 0.6em;
}

.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.product_description {
  font-family: Inconsolata, monospace;
  font-size: 1.9em;
  font-weight: 700;
}

.product_id_price_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.product_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.product_price_currency {
  margin-right: 0.5em;
  font-family: Inconsolata, monospace;
  font-size: 0.6em;
}

.price_currency {
  font-family: Inconsolata, monospace;
}

.product_price_amount {
  font-size: 0.9em;
}

.product_detail_box {
  margin-bottom: 0.5em;
}

.produc_free_label {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.05em 0.55em;
  background-color: #fffb8f;
}

.stylilng {
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.paragraph {
  font-size: 0.6em;
}

