:root {
/* Default*/
--fontsize-100: 1rem;

/* Preis */
--fontsize-200: 1.6rem;

/* Name */
--fontsize-300: 1.7rem;

/* Artikel - ID*/
--fontsize-400: 2rem; 
}



body {
  font-family: 'Bowlby One', sans-serif;
  color: #156c6f;
  font-size: 1cm;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: var(--fontsize-200);
  line-height: 1.2;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  font-family: Inconsolata, monospace;
  font-size: var(--fontsize-100);
  line-height: 1.6;
}

ul {
  margin-top: 0px;
  margin-bottom: 0.7em;
  padding-left: 40px;
  font-family: Inconsolata, monospace;
  font-size: var(--fontsize-100);
}

ol {
  margin-top: 0px;
  margin-bottom: 0.7em;
  padding-left: 40px;
  font-family: Inconsolata, monospace;
  font-size: var(--fontsize-100);
}

li {
  margin-bottom: 0.9em;
  padding: 0.25rem;
  background-color: #fafafa;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: var(--fontsize-200);
}

input {
    font-family: Inconsolata, monospace;
    font-size: var(--fontsize-100);
  }


.product_qr {
  width: 1.5cm;
  height: 1.5cm;
  padding: 0.15rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.product_id {
  padding: 0.6em 0.2rem;
  width: 1.5cm;
  background-color: #a7ffbf;
  font-size: var(--fontsize-400);
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.product_properties {
  padding-left: 0.2rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: Inconsolata, monospace;
  font-size: var(--fontsize-100);
  line-height: 1;
}

.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 14cm;
}

.product_description {
  font-family: Inconsolata, monospace;
  font-size: var(--fontsize-300);
  line-height: 1;
  font-weight: 700;
}

.product_id_price_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.product_price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.product_price_currency {
  margin-right: 0.5rem;
  font-family: Inconsolata, monospace;
  font-size: var(--fontsize-100);
}

.price_currency {
  font-family: Inconsolata, monospace;
}

.product_price_amount {
  font-size: var(--fontsize-200);
  line-height: 1;
}

.product_detail_box {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #36a089;
}

.produc_free_label {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.1em 0.1rem;
  background-color: #fffb8f;
}

.product-id-wrap {
  padding: 0.15rem;
}

.styling {
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.paragraph {
  font-size: var(--fontsize-100);
}

.how-it-looks {
  padding-top: 9vw;
  padding-bottom: 9vw;
}

.instructions {
  padding: 1.5rem;
}

.list-item {
  margin-bottom: 1.3rem;
}

.list-overall {
  padding: 1.1rem;
}

.sublist-item {
  margin-bottom: 0.5rem;
  padding: 0.3em 0.7rem;
  background-color: #f1f1f1;
}

.code {
  margin-bottom: 1rem;
  font-size: var(--fontsize-100);
}

.underline {
  text-decoration: underline;
}



.list {
  font-family: Inconsolata, monospace;
}

.list-item-2 {
  font-size: var(--fontsize-100);
}

#instructions {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
}

#hide_instr {
  background-color: #fffb8f;
  padding: 4vw;
}

@media print {

  .product {
      page-break-inside: avoid;
      page-break-before: auto;
  }


}
